*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Atkinson Hyperlegible', Verdana, Helvetica, Arial, sans-serif;
}


/*Header*/

header{
    background-color: #687354;
    width: 100%;
    min-height: fit-content;
    padding: 1.5em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    min-width: 50px;
    max-width: 70px;
    margin: 0.5em;
}

.main-nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.main-nav ul{
    list-style: none;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #FAF5E6;
    padding: 0.3em 1em;
}

.main-nav li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.active{
    text-decoration: underline;
}


/*Hovedindhold Generelt*/

.breadcrumb{
    display: flex;
    background-color: #687354;
    width: 100%;
    margin: 0;
}

.breadcrumb ol{
    list-style-type: none;
    position: relative;
    left: -5%;
}

.breadcrumb li{
    display: inline-block;
    padding: 8px;
    color: #f9feed;
}

.breadcrumb li a{
    color: #accbde;
    text-decoration: none;
}

.breadcrumb li a:hover{
    color: #f9feed;
    text-decoration: underline;
}

main{
    background-color: #f9feed;
    background-image: linear-gradient(to bottom, #687354, #f9feed);
    width: 100%;
    padding-top: 7vh;
}

h1{
   font-size: 36px;
   color: #f9feed;
   padding: 0.3em 5%;
}

h2{
    color: #FAF5E6;
    font-size: 24px;
}

h3{
    color: #687354;
}

p{
    color: #2e2e2e;
}



/*Index*/

.index-title{
    background-color: #687354;
    font-size: 64px;
}

.banner{
    margin: 0 5% 7vh 5%;
    width: 90%;
    aspect-ratio: 3/2;
    background-image: url(/img/banner.jpg);
    object-fit: contain;
    object-position: center;
    background-size: contain;
    background-position: center;
}

.categories p{
    font-size: 16px;
    font-weight: 400;
    color: #f9feed;
}

.categories a{
    text-decoration: none;
    color: #accbde;
    font-size: 18px;
    font-weight: 600;
}

.categories a:hover{
    text-decoration: underline;
    color: #0b283b;
}

.left-sec, .right-sec{
    display: flex;
    margin-bottom: 20px;
    width: 95%;
}

.right-sec{
    justify-self: flex-end;
}

.left-div, .right-div{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 15px;
    padding: 10px;
    background-color: #687354;
    border: 2px solid #f9feed;
    height: 32vh;
    width: 100%
}

.right-div{
    border-radius: 30px 0 0 30px;
    border-right: none;
    padding-right: 4%;
}

.left-div{
    border-radius: 0 30px 30px 0;
    border-left: none;
    justify-content: space-between;
    padding-left: 5%
}

.left-content, .right-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.left-img, .right-img{
    width: 35vw;
    object-fit: contain;
    align-self: center;
    border-radius: 30px;
}

.left-img{
    justify-self: flex-end;
}

.nyhedsbrev{
    background-color: #accbde;
    border: 4px solid #515b3f;
    border-radius: 15px;
    padding: 1.3em 5%;
    margin: 2em 5%;
}

.nyhedsbrev h2, .nyhedsbrev h3{
    color: #515b3f;
    padding-bottom: 10px;
    text-align: center;
}

.nyhedsbrev p{
    color: #2e2e2e;
    padding-bottom: 1.3em;
}

.nyhedsbrev input[type=email]{
    margin-bottom: 15px;
}

.textbox{
    margin: 2em 5%;
    padding: 1.3em 5%;
    background-color: #f9feed;
    border: 4px solid #515b3f;
    border-radius: 15px;
}

.textbox h3, .textbox p{
    padding-bottom: 1em; 
}

.textbox p{
    color: #2e2e2e;
}

.quote{
    margin: 2em 8%;
}

blockquote p{
    font-size: 28px;
    color: #515b3f;
    font-weight: 700;
}

cite{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    justify-self: flex-end;
}



/*Om mental sundhed*/

.ms-banner{
    background-image: url(/img/ms-banner.jpg);
}

.ms-banner, .vv-banner{
    background-size: cover;
    background-position: top center;
    width: 90%;
    aspect-ratio: 3/2;
    border: 3px solid #515b3f;
    border-radius: 15px;
    margin: 1.3em 5% 7vh 5%;
}

.ms-banner a, .vv-banner a{
    display: flex;
    justify-self: center;
    position: relative;
    top: 80%;
    text-align: center;
    background-color: #687354;
    border: 2px solid #515b3f;
    border-radius: 4px;
    color: #f9feed;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 6px 15px;
    margin: 0 auto;
}

.textbox h2{
    color: #515b3f;
    padding-bottom: 10px;
}

.ms-tekst h3, .vv-tekst h3{
    padding: 5px 0;
}

#emner section, #strategier section{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    background-color: #687354;
    border: 4px solid #515b3f;
    border-radius: 15px;
    padding: 1.3em 5%;
    margin: 1.3em 15%;
    aspect-ratio: 1/1;
}

#emner img, #strategier img{
    width: 100%;
    min-height: 150px;
    margin: 0.8em 5%;
}

#emner h4, #strategier h4{
    color: #f9feed;
    font-size: 20px;
}

#emner a, #strategier a{
    color: #accbde;
    text-decoration: none;
    font-size: 18px;
}

#emner a:hover, #strategier a:hover{
    color: #0b283b;
    text-decoration: underline;
    cursor: pointer;
}

.ms-akut, .vv-akut{
    margin-bottom: 10px;
}



/*Velværestrategier*/

.vv-banner{
    background-image: url(/img/vv-banner.jpg);
}


/*Kontakt*/

.tekst-kontakt{
    background-color: #687354;
    border-top: 2px solid #515b3f;
    border-bottom: 2px solid #515b3f;
    padding: 15px 5% 30px 5%;
    margin: 1em 0;
}

.tekst-kontakt p{
    color: #f9feed;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}

.tekst-kontakt a{
    color: #accbde;
    font-weight: 600;
    font-size: 18px;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #f9feed;
    border: 4px solid #515b3f;
    border-radius: 20px;
    padding: 1.3em 10%;
    margin: 1.7em 5%;
}

input[type=text], input[type=email], textarea{
	width: 100%;
	padding: 1em;
	border: 1px solid #515b3f;
	border-radius: 4px;
}

.text, .navn, .email, fieldset, .besked, .submit{
    margin: 1em 0;
}

label, .text, legend, .options{
    display: flex;
}

.asterisk{
    color: red;
}

fieldset{
    padding: 1em 0.2em;
    border: dotted #515b3f;
    justify-content: center;
}

legend{
    text-align: center;
}

fieldset .options{
    justify-content: center;
}

.options input{
    margin-right: 5px;
}

.options label{
    margin-right: 2.5em;
}

textarea{
    min-height: 20vh;
}

input[type=submit]{
    display: flex;
    justify-self: center;
    text-align: center;
    font-size: 20px;
    color: #f9feed;
    background-color: #687354;
    border: 2px solid #515b3f;
    border-radius: 4px;
    padding: 5px;
}

input[type=submit]:hover{
    background-color: #515b3f;
    cursor: pointer;
}


/*Hotlines*/

.akut{
    background-color: #687354;
    color: #000;
    font-size: 20px;
    border-top: 2px solid #515b3f;
    border-bottom: 2px solid #515b3f;
    padding: 1.3em 5%;
}

.akut strong{
    color: #f9feed;
}

.hotline{
    display: flex;
    flex-direction: column;
    background-color: #f9feed;
    border: 4px solid #515b3f;
    border-radius: 15px;
    padding: 1.3em 5%;
    margin: 1.3em 5%;
}

.hotline h3{
    text-align: center;
    margin-bottom: 10px;
}

.hotline p{
    color: #2e2e2e;
    margin-top: 10px;
}

.hotline a{
    color: #515b3f;
}

.as-tel address:nth-of-type(1){
    margin-bottom: 10px;
}


/*Footer*/

footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    background-color: #687354;
    width: 100%;
    min-height: fit-content;
}

.email-footer{
    display: flex;
    align-content: center;
}

.email-footer i{
    color: #f9feed;
    font-size: 18px;
    margin-right: 10px;
}

.email-footer a{
    color: #f9feed;
    font-size: 16px;
}

.some-footer{
    display: flex;
    align-content: center;
}

.some-footer i{
    color: #f9feed;
    font-size: 22px;
    padding: 0 18px;
}

.fa-instagram{
    font-size: 25px;
}


.visually-hidden{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


/*Desktop*/

@media screen and (min-width: 769px) and (max-width: 1012px) {
    button#search-btn{
        background-color: transparent;
        border: none;
    }

    #search-btn i{
        color: #f9feed;
        font-size: 24px;
    }

    nav input{
        display: none;
        padding: 10px 5px;
        width: 50px;
    }
    
    .show-search{
        display: block;
        position: absolute;
        top: 80px;
        right: 45px;
        background-color: #FAF5E6;
        width: 100%;
        height: max-content;
    }
}

@media screen and (min-width: 1013px) {
    button#search-btn{
        display: none;
    }
}

@media screen and (min-width: 769px){
    header{
        justify-content: space-around;
    }
    
    #bars{
        display: none;
    }

    .main-nav li a{
        font-size: 1.6vw;
    }

    .main-nav input{
        max-width: 20%;
    }

    h1{
        font-size: 96px;
    }
}


/*Mobil og tablet*/

@media screen and (max-width: 768px){
    .main-nav{
        display: none;
    }

    .main-nav input{
        display: flex;
        justify-self: center;
        padding: 10px 15px;
        margin: 25px auto 35px auto;
    }

    .main-nav ul{
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        padding: 0 0 50px 0;
    }

    .main-nav li a{
        color:#687354;
    }

    button#search-btn{
        display: none;
    }

    button#bars{
        background-color: transparent;
        border: none;
    }

    #bars i{
        font-size: 24px;
        color:#FAF5E6;
    }

    .show{
        display: block;
        position: absolute;
        top: 110px;
        left: 0;
        background-color: #FAF5E6;
        width: 100%;
        height: max-content;
        z-index: 10;
        border-bottom: 2px solid #515b3f;
    }
}