*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Atkinson Hyperlegible', Verdana, Helvetica, Arial, sans-serif;
}


/*Header*/

header{
    background-color: #687354;
    width: 100%;
    min-height: fit-content;
    padding: 1.5em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    min-width: 50px;
    max-width: 70px;
    margin: 0.5em;
}

.main-nav ul{
    list-style: none;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #FAF5E6;
    padding: 0.3em 1em;
}

.main-nav li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.active{
    text-decoration: underline;
}


/*Hovedindhold*/

main{
    background-color: #f9feed;
    background-image: linear-gradient(to bottom, #687354, #f9feed);
}

h1{
    color: #FAF5E6;
    background-color: #687354;
    font-size: 64px;
    padding: 0.3em;
}


/*Desktop*/

@media screen and (min-width: 769px){
    #bars{
        display: none;
    }

    h1{
        font-size: 96px;
    }

    .main-nav li a{
        font-size: 1.7vw;
    }
}


/*Mobil og tablet*/

@media screen and (max-width: 768px){
    .main-nav{
        display: none;
    }

    .main-nav ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        padding: 50px 0;
    }

    .main-nav li a{
        color:#687354;
        font-size: 20px;
    }

    button#bars{
        background-color: transparent;
        border: none;
    }

    #bars i{
        font-size: 24px;
        color:#FAF5E6;
    }

    .show{
        display: block;
        position: absolute;
        top: 110px;
        left: 0;
        background-color: #FAF5E6;
        width: 100%;
        height: max-content;
    }
}