*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Atkinson Hyperlegible', Verdana, Helvetica, Arial, sans-serif;
}


/*Header*/

header{
    background-color: #687354;
    width: 100%;
    min-height: fit-content;
    padding: 1.5em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    min-width: 50px;
    max-width: 70px;
    margin: 0.5em;
}

.main-nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.main-nav ul{
    list-style: none;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #FAF5E6;
    padding: 0.3em 1em;
}

.main-nav li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.active{
    text-decoration: underline;
}


/*Hovedindhold*/

main{
    background-color: #f9feed;
    background-image: linear-gradient(to bottom, #687354, #f9feed);
    width: 100%;
}

h1{
    color: #FAF5E6;
    background-color: #687354;
    font-size: 64px;
    padding: 0.3em;
}

.banner{
    margin: 0 auto;
    aspect-ratio: 16/9;
    width: 80%;
    background-color: burlywood; /*placeholder for billede*/
}

.visually-hidden{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


/*Desktop*/

@media screen and (min-width: 769px){
    header{
        justify-content: space-around;
    }
    
    #bars{
        display: none;
    }

    .main-nav{
        flex-wrap: wrap-reverse;
    }

    .main-nav li a{
        font-size: 1.6vw;
    }

    .main-nav input{
        max-width: 15%;
    }

    h1{
        font-size: 96px;
    }
}


/*Mobil og tablet*/

@media screen and (max-width: 768px){
    .main-nav{
        display: none;
    }

    .main-nav input{
        display: flex;
        justify-self: center;
        padding: 10px 15px;
        margin: 25px auto 35px auto;
    }

    .main-nav ul{
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        padding: 0 0 50px 0;
    }

    .main-nav li a{
        color:#687354;
    }

    button#bars{
        background-color: transparent;
        border: none;
    }

    #bars i{
        font-size: 24px;
        color:#FAF5E6;
    }

    .show{
        display: block;
        position: absolute;
        top: 110px;
        left: 0;
        background-color: #FAF5E6;
        width: 100%;
        height: max-content;
    }
}