*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Atkinson Hyperlegible', Verdana, Helvetica, Arial, sans-serif;
}


/*Header*/

header{
    background-color: #687354;
    width: 100%;
    min-height: fit-content;
    padding: 1.5em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    min-width: 50px;
    max-width: 70px;
    margin: 0.5em;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
}

nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #FAF5E6;
    padding: 0.3em 1em;
}

nav li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.active{
    text-decoration: underline;
}


/*Hovedindhold*/

main{
    background-color: #687354;
    background-image: linear-gradient(to bottom, #687354, #f9feed);
}

h1{
    color: #FAF5E6;
    -webkit-text-stroke: 1px #687354;
    font-size: 96px;
    padding: 0.3em;
}


/*Desktop*/

@media screen and (min-width: 769px){
    #bars{
        display: none;
    }
}


/*Mobil og tablet*/

@media screen and (max-width: 768px){
    .main-nav{
        display: none;
    }
}